.binpath
.DS_Store
.vscode
target
.metahash

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend3/node_modules
frontend3/.pnp
frontend3/.pnp.js

# testing
frontend3/coverage

# production
frontend3/build

# misc
/frontend3.DS_Store
/frontend3.env

frontend3/npm-debug.log*
frontend3/yarn-debug.log*
frontend3/yarn-error.log*
